{% extends "blog/base.html" %}
{% load static%}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        {%if user.profile.image.url %}
        <img class="rounded-circle account-img" src="{{user.profile.image.url}}" alt="oopsie">
        {%else%}
        <img class="rounded-circle account-img" src="{% static 'blog/images/not-found.png' %}" alt="oopsie">
        {% endif %}
        <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
            {%if profile.instagram_url %}
            <a href="{{user.profile.instagram_url}}"><small><b>Instagram</b></small></a>
            {%endif%}
            <p class="text-secondary">Bio : {{user.profile.bio}}</p>
        </div>
    </div>
    <br>
    <!-- <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{u_form|crispy}}
            {{p_form|crispy}}
        </fieldset> -->
    <div class="form-group">
        {%if user.profile%}
        <a href="{%url 'profile-edit' user.profile.id %}"><button class="btn btn-outline-info" type="submit">Update
                Profile</button></a>
        {%else%}
        <a href="{%url 'profile-create' %}"><button class="btn btn-outline-info" type="submit">Create
                Profile</button></a>
        {%endif%}
    </div>
    <!-- </form> -->
</div>
{% endblock content %}