<!DOCTYPE html>
{% extends "blog/base.html" %}
{% block title %}{{post.title}}{%endblock%}
{% block content %}
<h1>{{post.title}}</h1>
<h6 class="text-info">By: {{post.author}}</h6>
{% if user.is_authenticated %}
<form action="{% url 'blogpost_like' object.id %}" method="POST">
  {% csrf_token %}
  {% if post_is_liked %}
  <button style="float: right" type="submit" name="blogpost_id" value="{{object.id}}"
    class="btn btn-info">Unlike</button>
  {% else %}
  <button style="float: right" type="submit" name="blogpost_id" value="{{object.id}}" class="btn btn-info">Like</button>
  {% endif %}
</form>
{% else %}
<a style="float: right" class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this
  article!</a>
{% endif %}
<strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
<hr>
{{post.content|safe}}
<br />
<br />
{%if user.is_authenticated %}
{%if post.author.id == user.id%}
<a class="mr-2" href="{%url 'update-post' post.pk%}">
  <button class='btn btn-warning'>Edit</button>
</a>
<a href="{%url 'delete-post' post.pk%}">
  <button class='btn btn-danger'>Delete</button>
</a>
{%endif%}
{%endif%}
<br>
<br>
{% endblock content %}