{% extends "blog/base.html" %}
{%block title%}My Posts{%endblock%}
{% block content %}
{% for post in object_list%}
{%if post.author.id == user.id%}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            {%if user.is_authenticated %}
            {%if post.author.id == user.id%}
            <a class="mr-2" style="float: right" href="{%url 'article-detailer' post.pk%}">Edit</a>
            {%endif%}
            {%endif%}
        </div>
        <h2><a class="article-title" href="{%url 'article-detailer' post.pk%}">{{ post.title }}</a></h2>

        <p class="article-content">{{ post.content|slice:":200"|safe }}</p>
        <a class="article-title" style="float: right"
            href="{%url 'category-post' post.category|slugify %}">{{post.category}}</a>
    </div>
</article>
{%endif%}
{% endfor %}
<br>
<br>
{% endblock content %}