{% extends "blog/base.html" %}
{%block title%}Category{%endblock%}
{% block content %}
<h3>{{cats}}</h3>
<br>
{% for post in category_posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            {%if user.is_authenticated %}
            {%if user.id == post.author.id%}
            <a class="mr-2" style="float: right" href="{%url 'article-detailer' post.pk%}">Edit</a>
            {%endif%}
            {%endif%}
        </div>
        <h2><a class="article-title" href="{%url 'article-detailer' post.pk%}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content|slice:":200"|safe }}</p>
        <small class="article-title" style="float: right">{{post.category}}</small>
    </div>
</article>
{% endfor %}
<br>
<br>
{% endblock %}